<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.poynt.samples.customdiscount">

    <uses-permission android:name="co.poynt.capability.manager.READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- activity to collect coupon code manually -->
        <activity
            android:name=".CouponEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Dialog">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <!-- service that implements custom coupon service. -->
        <service
            android:name=".CustomCouponService"
            android:enabled="true"
            android:exported="true">

            <!-- define the intent filter with an action as IPoyntCustomDiscountService interface -->
            <intent-filter>
                <action android:name="co.poynt.os.services.v1.IPoyntCustomDiscountService" />
            </intent-filter>

            <meta-data
                android:name="co.poynt.os.service.capability"
                android:resource="@xml/coupons_capabilities" />

        </service>

    </application>

</manifest>
