<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.poynt.samples">

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Poynt Service Permissions -->
    <uses-permission android:name="poynt.permission.BUSINESS_SERVICE" />
    <!-- Permissions needed by the Payment Fragments -->
    <uses-permission android:name="poynt.permission.TRANSACTION_SERVICE" />
    <uses-permission android:name="poynt.permission.CARD_READER" />
    <uses-permission android:name="poynt.permission.SECOND_SCREEN_SERVICE" />
    <uses-permission android:name="poynt.permission.CASH_REGISTER_SERVICE" />
    <uses-permission android:name="poynt.permission.RECEIPT_PRINTING_SERVICE" />
    <uses-permission android:name="poynt.permission.EMAIL_SERVICE" />
    <uses-permission android:name="poynt.permission.CUSTOMER_SERVICE" />
    <uses-permission android:name="poynt.permission.OFFLINE_SERVICE" />
    <!-- /Permissions needed by the Payment Fragments -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SampleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
